{% extends "layout.html" %}

{% block content %}

<div class="content-section">

    <legend class="border-bottom mb-4">{{ title }}</legend>

    <p>
        This Project is developed by <b><i>Aditya Bagad</i></b>
    </p>
    <p>
        This Project is developed by <b><i>Wagner Cipriano</i></b>
    </p>
    <p>
        A comprehensive report containing project documentation is available
        <a target="_blank" href="https://github.com/wcipriano/case-study-hdb-task-manager/blob/master/doc/estudo-caso-relatorio-wc.pdf">here</a>. <br/>
        It includes software documentation covering Requirements (SRS), Architecture and Design, Technical and Code Documentation, Operations and Deployment.
    </p>
    <p>
        The GH repository is available
        <a target="_blank" href="https://github.com/wcipriano/case-study-hdb-task-manager">here</a>.
    </p>
    <p>
        Codecov is available
        <a target="_blank" href="https://app.codecov.io/github/wcipriano/case-study-hdb-task-manager">here</a>. <br/>
    </p>
</div>

{% endblock %}